[submodule "sem_1/aap"]
	path = sem_1/aap
	url = git@github.com:SlivkaSadovka/spbspu-labs-2023-aap-a.git
[submodule "sem_2/aads"]
	path = sem_2/aads
	url = git@github.com:SlivkaSadovka/spbspu-labs-2024-aads-a.git
